<div id="all">
  <div id="content">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="box">
            <h1>Login</h1>
            <p class="lead">Already our customer?</p>
            <hr>
            <%= bootstrap_form_for(@user, url: login_path) do |f| %>
            <div class="form-group">
              <%= f.text_field :username %>
            </div>
            <div class="form-group">
              <%= f.password_field :password %>
            </div>
            <div class="text-center">
              <%= f.primary 'Login', method: "post" %>
            </div>
            <% end %>
            <br>
            <p class="text-muted">Dont have an account? <b><%= link_to "Register", new_user_path %></b> with us now.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
