<div class="container">
  <div class="row">
    <div class="col-md-3">
    <hr>
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header"></li>
      <li><%= link_to 'View All Items', admin_items_path%></li>
      <li class="nav-header"><%= link_to 'Add a New Item', new_admin_item_path%></li>
      <li><%=link_to 'Edit Account', edit_user_path(@user)%></li>
      <li><%= link_to 'Leave Dashboard', root_path%></li>
      <li>      <%= link_to 'View All Items', admin_items_path %></li>
      <%= button_to 'Add Address', new_user_address_path(@user, @user.addresses), method: 'get', class:"btn btn-primary"  %>
    </ul>
    <hr>
	</div>
  <div class="col-md-9">
     <h2><i class="glyphicon glyphicon-dashboard"></i> Hello Administrator  <%= " #{@user.name}" %>:</strong></h2>
    	<hr>
  	<div class="row">
      <div class="col-lg-15">
        <hr>
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-primary col-sm-3"><i class="glyphicon glyphicon-plus"></i><br>  Service</a>
          <a href="#" class="btn btn-primary col-sm-3"><i class="glyphicon glyphicon-cloud"></i><br>Cloud</a>
          <a href="#" class="btn btn-primary col-sm-3"><i class="glyphicon glyphicon-cog"></i><br>Tools </a>
          <a href="#" class="btn btn-primary col-sm-3">  <i class="glyphicon glyphicon-question-sign"></i><br>Help</a>
        </div>
        <hr>
        <div class="col-md-4">
          <%= form_tag(admin_dashboard_path, method: 'get') do |f| %>
            <p>Order Status Filter</p>
            <%= select_tag("Order Status", options_from_collection_for_select(Order.select(:status).distinct, "status", "status")) %>
            <%= submit_tag("Filter Orders") %>
          <% end %>
          </div><br><br><br><br><br>
          <%= render partial: 'admin/orders/index' %>
		      <hr>
        </div>
      </div>
	   </div>
   </div>
 </div>
