
<div class="container">
  <div class="row">
    <div class="col-md-3">
<h3>Address </h3>
<br/>
<%@addresses.each do |t|%>
<%=t.street_address%>
<%=t.street_address2%>
<%=t.city%>
<%=t.state%>
<%=t.zip_code%>
<%end%>
</div></div></div>
<!-- params.require(:address)
      .permit(:street_address, :street_address2, :city, :state, :zip_code) -->
