<div id="all">
  <div id="content">
    <div class="container">
      <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
              <div class="panel-body">
               <ul class="nav nav-pills nav-stacked category-menu">
                 <ul>
                  <% @categories.each do |category| %>
                   <li><%= link_to category.title, category_path(category),  class: "dropdown-item" %></li>
                 <%end%>
                </ul>
               </ul>
             </div>
            </ul>
          </div>
        </div>
        <div class="banner">
          <a href="#">
            <img src="/img/banner.jpg" alt="sales 2014" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row" id="productMain">
          <div class="col-sm-6">
            <div id="mainImage">
            <%= image_tag @item.image, height: "330", width: "400" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <h1 class="text-center"><%= "#{@item.title}" %>
                  </h1>
              <p class="price"> <%= "$#{@item.price}" %></p>
              <p class="text-center buttons">
                <% if @item.retired? %>
                  <button class="disabled btn" type="button">
                    Item Retired
                  </button>
                <% else %>
                  <%= button_to "Add to Cart", carts_path(item_id: @item.id), method: :post, class: "btn btn-primary"%>
                <% end %>
                <br>
                <% if current_admin? %>
                <%= button_to "Edit Item", edit_admin_item_path(@item.id), method: :get, class: "btn btn-warning"%>
                <br>
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="box" id="details">
          <h4>Product details</h4>
          <p><%= @item.long_description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
