<div id="all">
  <div id="all">
    <div id="content">
      <div class="container">
       <div class="col-md-12">
        <ul class="breadcrumb">
         <li><a href="#">Home</a>
         </li>
         <li>Ladies</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
         <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
         <ul class="nav nav-pills nav-stacked category-menu">
           <ul>
            <% @categories.each do |category| %>
             <li><%= link_to category.title, category_path(category),  class: "dropdown-item" %></li>
           <%end%>
          </ul>
         </ul>
       </div>
     </div>
    <div class="banner">
      <a href="#"><img src="/img/banner.jpg" alt="sales 2014" class="img-responsive"></a>
    </div>
    </div>
    <div class="col-md-9">
     <div class="box">
     </div>
     <div class="box info-bar">
      <div class="row">
       <div class="col-lg-8 col-md-8  products-number-sort">
        <div class="row">
         <form class="form-inline">
             <div class="col-md-10 col-sm-6">
               <ul class="search">
             <%= form_tag(items_path, method: "get", id: "search-items") do %>
               <%= text_field_tag(:search, params[:search], placeholder: "Search Items") %>
               <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
             <% end %>
           </ul>
             </div>
           </form>
         </div>
        </div>
      </div>
    </div>
    <div class="row products">
      <%@items.each do |t| %>
   <div class="col-md-3 col-sm-6">
     <span class="thumbnail">
                <%= link_to image_tag( t.image, height: "60", width: "100"), category_item_path(t.category, t) %>
   <h4><%=link_to t.title, category_item_path(t.category, t)%></h4>
           <p class="price">$29,90</p>
         <hr class="line">
         <div class="row">
           <div class="col-md-6 col-sm-6">
             <% if t.retired? %>
               <button class="disabled btn" type="button">
                 Item Retired
               </button>
             <% else %>
               <%= button_to "Add to Cart", carts_path(item_id: t.id), method: :post, class: "btn btn-primary"%>
             <% end %>
             <br>
             <% if current_admin? %>
             <%= button_to "Edit Item", edit_admin_item_path(t.id), method: :get, class: "btn btn-warning"%>
             <br>
             <% end %>
           </div>


         </div>
     </span>
   </div>
    <% end %>
     </div>
         <%= will_paginate(@items, class: "flickr_pagination") %>
       </div>
    </div>
  </div>
</div>
