<div id="all">
  <div id="all">
    <div id="content">
      <div class="container">
       <div class="col-md-12">
        <ul class="breadcrumb">
         <li><a href="#">Home</a>
         </li>
         <li>Ladies</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
         <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
         <ul class="nav nav-pills nav-stacked category-menu">
           <ul>
            <% @categories.each do |category| %>
             <li><%= link_to category.title, category_path(category),  class: "dropdown-item" %></li>
           <%end%>
          </ul>
         </ul>
       </div>
     </div>
    <div class="banner">
      <a href="#"><img src="/img/banner.jpg" alt="sales 2014" class="img-responsive"></a>
    </div>
  </div>
  <div class="col-md-9">
   <div class="box">
       <!-- <h1>Ladies</h1>
       <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p> -->
   </div>
   <!-- <div class="box info-bar">
    <div class="row">
      <div class="col-sm-12 col-md-4 products-showing">
         Showing <strong>12</strong> of <strong>25</strong> products
      </div>
     <div class="col-sm-12 col-md-8  products-number-sort">
      <div class="row">
       <form class="form-inline">
         <div class="col-md-6 col-sm-6">
           <div class="products-number">
            <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
           </div>
         </div>
           <div class="col-md-6 col-sm-6">
             <div class="products-sort-by">
               <strong>Sort by</strong>
               <select name="sort-by" class="form-control">
                 <option>Price</option>
                 <option>Name</option>
                 <option>Sales first</option>
               </select>
             </div>
           </div>
         </form>
       </div>
      </div>
    </div>
  </div> -->



  <div class="row products">
   <%@items.each do |t|%>
    <div class="col-md-4 col-sm-6">
       <div class="product">
         <div class="flip-container">
            <div class="flipper">
              <div class="front">
                   <%= image_tag(t.image, class: 'img-responsive')%>
             </div>
             <div class="back">

                     <%= image_tag(t.image, class: 'img-responsive')%>

             </div>
            </div>
          </div>
           <a href="detail.html" class="invisible">
             <img src="/img/product1.jpg" alt="" class="img-responsive">
           </a>
         <div class="text">

           <h3><%= link_to t.title, category_item_path(t.category, t) %></h3>
           <p class="price"> $<%=t.price%></p>
           <% if t.retired? %>
             <button class="disabled btn" type="button"></button>
             Item Retired
           <% else %>
            <center> <%= button_to "Add to Cart", carts_path(item_id: t.id), method: :post, class: "btn btn-default" %></center>
           <% end %>
           <br>
           <% if current_admin? %>
             <center><%= button_to "Edit Item", edit_admin_item_path(t), method: :get, class: "btn btn-warning" %></center>
             <br>
           <% end %>
         </div>
       </div>
     </div>
      <%end%>
   </div>
       <%= will_paginate(@items, class: "flickr_pagination") %>


                     <!-- <div class="pages">

                         <p class="loadMore">
                             <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                         </p>

                         <ul class="pagination">
                             <li><a href="#">&laquo;</a>
                             </li>
                             <li class="active"><a href="#">1</a>
                             </li>
                             <li><a href="#">2</a>
                             </li>
                             <li><a href="#">3</a>
                             </li>
                             <li><a href="#">4</a>
                             </li>
                             <li><a href="#">5</a>
                             </li>
                             <li><a href="#">&raquo;</a>
                             </li>
                         </ul>
                     </div> -->


                 </div>

             </div>

         </div>

         </div>
