<!DOCTYPE html>
<html>
  <head>
    <title>Ashopper</title>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



  </head>

  <body>

      <div class="">
          <nav class="navbar navbar-icon-top navbar-default">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                          <li class=""><a href="#">Home <span class="sr-only">(current)</span></a></li>
                          <li><a href="#">Categories</a></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <% @categories.each do |category| %>
                                  <li><%= link_to category.title, category_path(category),  class: "dropdown-item" %></li>
                                <% end %>
                              </ul>
                          </li>
                      </ul>
                      <ul class="navbar-form navbar-left">
                        <ul class="search">
                          <%= form_tag(items_path, method: "get", id: "search-items") do %>
                            <%= text_field_tag(:search, params[:search], placeholder: "Search Items", class: "form-group") %>
                            <%= submit_tag("Search", name: nil, class: "btn btn-default") %>
                          <% end %>
                        </ul>
                        </ul>


                      <ul class="navbar-form navbar-left">

                          <%= form_tag(categories_path, method: "get", id: "search-categories") do %>
                            <%= text_field_tag(:search, params[:search], placeholder: "Search Category", class: "form-group") %>
                            <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
                          <% end %>

                      </ul>

                      <ul class="nav navbar-nav navbar-right">

                          <% if session[:user_id] %>
                            <% user = User.find(session[:user_id]) %>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle-o"></i>
                                    <%= link_to "#{user.username}", dashboard_path %><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li class="nav-item active">
                              <%= link_to "Logout", login_path, method: "delete", class: "nav-link" %>
                            </li>
                          <% else %>
                            <li class="nav-item">
                              <%= link_to "Login", login_path, class: "nav-link" %>
                            </li>
                            <li class="nav-item">
                              <%= link_to "Register", new_user_path, class: "nav-link" %>
                            </li>
                          <% end %>

                        <li><a class="nav-link" href="/cart"><%= "Cart (#{@cart.total_count})" %></a></li>

                      </ul>
                  </div>
              </div>
          </nav>
      </div>
    <%= yield %>
  </body>
</html>
