<!DOCTYPE html>
<html>
  <head>
    <title>Ashopper</title>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div id="top">
      <div class="container">
        <div class="col-md-6 offer" data-animate="fadeInDown">
          <!-- <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a> -->
        </div>
          <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
              <% if current_admin? %>
              <li class="btn btn-success btn-sm"><%= link_to "#{current_user.name.upcase}", admin_dashboard_path %></li>
                <li><%= link_to "Logout", login_path, method: "delete", class: "btn btn-danger btn-sm" %></li>
                <% elsif current_user %>
                <li class="navbar-link-items"><%= link_to "Items", items_path %></li>
                <li class="btn btn-success btn-sm"><%= link_to " #{current_user.name}", dashboard_path %></li>
                  <%= link_to "Logout", login_path, method: "delete", class: "btn btn-danger btn-sm" %>
                  <li class="navbar-link-orders"><%= link_to "Orders", orders_path %></li>
                  <% else %>

                  <li class="navbar-link-login"><%= link_to "Log In", login_path %></li>
                  <li class="navbar-link-login"><%= link_to "Sign Up", new_user_path %></li>
                  <% end %>
                </ul>
              </div>
          </div>
        </div>
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
          <div class="container">
            <div class="navbar-header">

                <!-- <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a> -->
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="/cart">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"><%= "Cart (#{@cart.total_count})" %></span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse" id="navigation">
              <ul class="nav navbar-nav navbar-left">
                  <li class=""><a href="/">Home</a>
                  </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Categories<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="yamm-content">
                        <div class="">
                          <div class="col-md-12">
                            <ul>
                              <% @categories.each do |category| %>
                                <li><%= link_to category.title, category_path(category),  class: "dropdown-item" %></li>
                              <%end%>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="navbar-link-items"><%= link_to "Items", items_path %></li>
                <li class=""><a href="/">Home</a>
                <li class=""><a href="/">Home</a>
              </ul>
            </div>
            <div class="navbar-buttons">
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="/cart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"><%= "Cart (#{@cart.total_count})" %></span></a>
                </div>
                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">
              <div class="search">
              <%= form_tag(categories_path, method: "get", id: "search-categories") do %>
                <%= text_field_tag(:search, params[:search], placeholder: "Search Category", class: "form-group") %>
                <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
              <% end %>
            </div>
            <div class="search">
            <%= form_tag(categories_path, method: "get", id: "search-categories") do %>
              <%= text_field_tag(:search, params[:search], placeholder: "Search Category", class: "form-group") %>
              <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
            <% end %>
          </div>
            </div>
        </div>
    </div>

    <%= yield %>

    <div id="footer" data-animate="fadeInUp">
           <div class="container">
               <div class="row">
                   <div class="col-md-3 col-sm-6">
                       <h4>Pages</h4>

                       <ul>
                           <li><a href="text.html">About us</a>
                           </li>
                           <li><a href="text.html">Terms and conditions</a>
                           </li>
                           <li><a href="faq.html">FAQ</a>
                           </li>
                           <li><a href="contact.html">Contact us</a>
                           </li>
                       </ul>

                       <hr>

                       <h4>User section</h4>

                       <ul>
                           <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                           </li>
                           <li><a href="register.html">Regiter</a>
                           </li>
                       </ul>

                       <hr class="hidden-md hidden-lg hidden-sm">

                   </div>
                   <!-- /.col-md-3 -->

                   <div class="col-md-3 col-sm-6">

                       <h4>Top categories</h4>

                       <h5>Men</h5>

                       <ul>
                           <li><a href="category.html">T-shirts</a>
                           </li>
                           <li><a href="category.html">Shirts</a>
                           </li>
                           <li><a href="category.html">Accessories</a>
                           </li>
                       </ul>

                       <h5>Ladies</h5>
                       <ul>
                           <li><a href="category.html">T-shirts</a>
                           </li>
                           <li><a href="category.html">Skirts</a>
                           </li>
                           <li><a href="category.html">Pants</a>
                           </li>
                           <li><a href="category.html">Accessories</a>
                           </li>
                       </ul>

                       <hr class="hidden-md hidden-lg">

                   </div>
                   <!-- /.col-md-3 -->

                   <div class="col-md-3 col-sm-6">

                       <h4>Where to find us</h4>

                       <p><strong>Obaju Ltd.</strong>
                           <br>13/25 New Avenue
                           <br>New Heaven
                           <br>45Y 73J
                           <br>England
                           <br>
                           <strong>Great Britain</strong>
                       </p>

                       <a href="contact.html">Go to contact page</a>

                       <hr class="hidden-md hidden-lg">

                   </div>
                   <!-- /.col-md-3 -->



                   <div class="col-md-3 col-sm-6">

                       <h4>Get the news</h4>

                       <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                       <form>
                           <div class="input-group">

                               <input type="text" class="form-control">

                               <span class="input-group-btn">

         <button class="btn btn-default" type="button">Subscribe!</button>

     </span>

                           </div>
                           <!-- /input-group -->
                       </form>

                       <hr>

                       <h4>Stay in touch</h4>

                       <p class="social">
                           <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                           <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                           <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                           <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                           <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                       </p>


                   </div>
                   <!-- /.col-md-3 -->

               </div>
               <!-- /.row -->

           </div>
           <!-- /.container -->
       </div>
       <!-- /#footer -->

       <!-- *** FOOTER END *** -->




       <!-- *** COPYRIGHT ***
_________________________________________________________ -->
       <div id="copyright">
           <div class="container">
               <div class="col-md-6">
                   <p class="pull-left">© 2015 Your name goes here.</p>

               </div>
               <div class="col-md-6">
                   <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                   </p>
               </div>
           </div>
       </div>
       <!-- *** COPYRIGHT END *** -->

    <script src="/js/jquery-1.11.0.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery.cookie.js"></script>
      <script src="/js/waypoints.min.js"></script>
      <script src="/js/modernizr.js"></script>
      <script src="/js/bootstrap-hover-dropdown.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/front.js"></script>

  </body>
</html>
